body {
	background-color: white; 
	margin: 0; /
}

#triangles {
	width: 100vw;
    height: 100vh;
    position: static;
    top: 0;
    left: 0;
}

#triangles div { 
	
	width: 0;
	height: 0;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 10vw solid grey;
	float: left;
}

#triangles2 {
	position: absolute; 
	width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#triangles2 div { 
	
	width: 0;
	height: 0;
	
    border-left: 2.5vw solid transparent;
    border-right: 2.5vw solid transparent;
    border-top: 5vw solid rgb(239, 74, 129);
	float: left;
	box-shadow: 20px 20px 20px rgba(50,50,50,.5);
	mix-blend-mode: overlay;



  
}
