body {
	background-color: rgba(196, 191, 182, 0.5); 
	margin: 0vw; /* on most browsers the body has a 
				  default margin of 8px */
}

#squares {
	
    position: static;
   margin: -8 0 0 0vw; 
    float: right;

  
}

#squares div{
	height: 100vh; /* vw = viewport width — adjusts
					 with the size of the browser */
    width: 1vw;
    background-color: rgb(226, 188, 203);
    margin: 1vw;
    float: left;
    
}