body{
	background-color: lavender;
	font-family: "Poppins"; 
}
    
    h1 { 
      font-weight: normal;
      font-size: 40px; 
      color: rgba(218, 48, 48, 0.51);
    }

    h2 {

    }

    a {


    }