

body {
	background-color: white; 
	margin: 0; /
}

}



#triangles2 {
	position: absolute;
	width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
   
    
}

#triangles2 div { 
	
	width: 0;
	height: 0;
	
    border-left: 2.5vw solid transparent;
    border-right: 2.5vw solid transparent;
    border-top: 5vw solid rgb(239, 74, 129);
	float: left;
	box-shadow: 20px 20px 20px rgba(50,50,50,.5);
	mix-blend-mode: overlay;
	transform: rotate(-45deg);


  
}

