body {
    
    
}






#column div {
    width: 5vw;
    height: 200vh;
    margin: .5vw;
    float:left;
    display: block;
    background-color: #577590;
    transform: rotate(-20deg);
    opacity: .54;
}



#column_2 {
    width: 200vw;
    height: 100vh;
    position: absolute;
    clear: both;
}
#column_2 div {
    width: 1vw;
    height: 200vh;
    margin: 2vw;
    float:left;
    display: block;
    background-color: #F2A541;
    transform: rotate(20deg);
    opacity: .8;
}
	
#column_2 div:hover {
	transform: rotate(-20deg);
}